* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

.card-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    height: 400px;
    margin: 15px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.left-content,
.center-content,
.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 15px; 
    margin: 0px; 
}

.left-content {
    background-color: hsl(31, 77%, 52%);
    padding: 2.5rem;

}

.left-content h1 {
    text-transform: uppercase;
}

.left-content p {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.center-content {
    background-color: hsl(184, 100%, 22%);
    padding: 2.5rem;
}

.center-content p {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.right-content {
    background-color: hsl(179, 100%, 13%);
    padding: 2.5rem;
}

.right-content p {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}