* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

.card-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    height: 400px;
    margin: 15px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.left-content,
.center-content,
.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 15px; 
    margin: 0px; 
}

.left-content {
    background-color: hsl(31, 77%, 52%);
    padding: 2.7rem;

}

.left-content h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.left-content p {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    color: hsl(0, 0%, 95%);
}

.center-content {
    background-color: hsl(184, 100%, 22%);
    padding: 2.7rem;
}

.center-content h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.center-content p {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    color: hsl(0, 0%, 95%);
}

.right-content {
    background-color: hsl(179, 100%, 13%);
    padding: 2.7rem;
}

.right-content h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.right-content p {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    color: hsl(0, 0%, 95%);
}

img {
    width: 60px;
}

button {
    font-size: .8em;
    width: 8rem;
    border-radius: 2rem;
    padding: .8rem;
    border: none; 
    text-decoration: none;
    font-weight: bold;
}

.left-content button {
    color: hsl(31, 77%, 52%);
}

.center-content button {
    color: hsl(184, 100%, 22%);
}

.right-content button {
    color: hsl(179, 100%, 13%);
}

