* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

.card-container {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 800px;
    height: 400px;
    margin: 15px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.left-content,
.center-content,
.right-content {
    height: 100%; 
    padding: 15px; 
    margin: 0; 
}

.left-content {
    background-color: hsl(31, 77%, 52%);
    height: 400px;
}

.center-content {
    background-color: hsl(184, 100%, 22%);
    height: 400px;
}

.right-content {
    background-color: hsl(179, 100%, 13%);
    height: 400px;
}